.Menu {
  display: flex;
  flex-basis: 15.625rem;

  background-color: #1e90ff;
}

.Menu nav {
  flex: 1;
}

.Menu ul {
  list-style: none;
  padding: 0;

}

.Menu li {
  display: flex;
}

.Menu li a {
  flex: 1;
  padding: 1rem;
  margin-bottom: 1rem;

  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.Menu li a:hover {
  background-color: #00000020;
}